:root {
    --theme-color:#ea1e63;
    --theme-color-light: #e91e6326;
}
@font-face {
    font-family: "Uniform Light";
    src: url("fonts/Uniform\ Light.ttf");
}
@font-face {
    font-family: "Uniform";
    src: url("fonts/Uniform.ttf");
}
@font-face {
    font-family: "Uniform Medium";
    src: url("fonts/Uniform\ Medium.ttf");
}
@font-face {
    font-family: "Uniform Black";
    src: url("fonts/Uniform\ Black.ttf");
}
@font-face {
    font-family: "Uniform Bold";
    src: url("fonts/Uniform\ Bold.ttf");
}
@font-face {
    font-family: "Uniform Ultra";
    src: url("fonts/Uniform\ Ultra.ttf");
}

html {
    scroll-behavior: smooth;
}

body {  
    font-family: 'Uniform', sans-serif;
    margin: 0 auto;
    color: #555555;
    text-decoration: none;
    max-width: 450px;
    text-align: center;
    box-shadow: 1px 2px 15px #48484833;
    padding-bottom: 90px;
    background-image: url(images/bgwood.jpg);
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
}

a {
    text-decoration: none;
    color: var(--theme-color);
}

strong, b {
    font-family: 'Uniform Medium';
}

.upper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 10%;
    padding-top: 50px;
    padding-bottom: 10px;
    margin: 0 auto;
    position: relative;
}

.page-wrapper{

}

.views-label{
    transform: translate(-50%, 0);
    padding: 5px 10px;
    position: absolute;
    color: #fff;
    left: 50%;
    top: -3px;
    border: 1px solid transparent;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    font-size: 14px;
    margin-bottom: 0px;
    border-top: 0;
    background: var(--theme-color);
}
.subtitle{
	width: 40%;
	background-color: #22516B; 
	height:2px;
}

.profile-pic-img {     
    margin-bottom: 12px;
	overflow: hidden;
	max-width: 160px;
	width: 100%;
	border-radius: 50%;
	display: block;
	padding: 0 20px;
}

.profile-pic-img {  
    transition: ease-in-out 0.3s;
}


.profile-piclogo-img{
	
	display: block;
  margin-left: auto;
  margin-right: auto;
}
.profile-piclogo-img img{
	 margin-bottom: 12px;
	overflow: hidden;
	max-width: 200px;
	width: 100%;
	display: block;
	padding:0 99px;
	text-align:center;
}
.firmname {
    font-family: 'Uniform Medium';
    margin: 10px 0;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 600;
    color: #727B93;
    letter-spacing: 0.4px;
}

.name {
    font-family: 'Uniform Medium';
    margin: 10px 0 0;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 0.4px;
}

.name span{
	margin-top: 5px;
	display: block
}
.name i{
	font-size: 12px;
}

.lower {
    background-color: ;
    color: #666666;
    padding: 20px;
    margin-top: -1px;
}

.round-contact-buttons {
    display: flex;
    margin-bottom: 15px;
    margin-top: 10px;
}

.round-contact-buttons a {
    margin: 0 10px;
}
.round-contact-buttons i:hover{
    background:#8eea1e;
}

.contact-buttons-icon {
    display: flex;
    justify-content: center;
    align-items: center; 
    width: 40px;
    height: 40px;
    text-align: center;
    margin: 0 auto;
    box-shadow: 1px 1px 5px rgba(107, 128, 168, 0.2);
    border-radius: 100px;
    margin-bottom: 10px;
    background-color: var(--theme-color);
    color: #ffffff;
}


.contact-buttons-text {
    color: #fff;
    text-decoration: none;
    font-size: 13px;
    font-family: 'Uniform Medium';
}

.contact-buttons {
    text-align: center;
    width: calc(100% + 40px);
    margin-top: 20px;
}

.contact-button {
    padding: 8px 10px;
    border-radius: 50px;
    min-width: 70px;
    display: inline-block;
    font-size: 12px;
    box-shadow: 1px 1px 5px rgba(107, 128, 168, 0.2);    
    text-align: center;
    background-color: var(--theme-color);
    color: #fff;
   
    margin-right: 5px;
    margin-bottom: 10px;
}

.contact-button i {
    margin-right: 5px;
}

.contact-action-table {
    -webkit-border-vertical-spacing: 10px;
}

.contact-action-table td {
    padding: 0;
	text-align:left;
	margin:10px 0;
}
.contact-action-table i:hover{
	background:#8eea1e;
	color:#fff;
}

.contact-action-container-icon {
    display: inline-block;
    vertical-align: middle;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    color: var(--theme-color);
    background-color: #ffffff;
    font-size: 16px;
    border-radius: 100px;
	margin-bottom:12px;
}

.contact-action-container-text {  
    color: #fff;
    margin-left: 10px;
    font-size: 14px;
    margin-right: 10px;
    display: inline-block;
    font-family: 'Uniform Medium';
    word-break: break-word;
	margin-bottom:12px;
}
.p-30{
	padding:12px;
}

.whatsapp-input {
    text-align: left;
    display: flex;
}

.whatsapp-input input {
    -webkit-appearance: none;
    background-color: rgba(255, 255, 255, 0.9);
    border: none;
    padding: 10px;
    outline: none;
    font-size: 12px;
    width: 80%;
    color: rgba(0, 0, 0, 0.6);
    padding-left: 40px;
}

.whatsapp-button {
    -webkit-appearance: none;
    padding: 9px 10px;
    font-size: 13px;
    background-color: #51B14D;
    opacity: 0.9;
    color: #fff;
    border: none;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2), 0 0 40px rgba(255, 251, 251, 0.1) inset;
    margin-left: 10px;
    display: flex;
    align-items: center;
}

.whatsapp-button i {
    font-size: 16px;
    margin-right: 10px;
}

.input-wrapper {
    position: relative;
    flex: 1;
}

.input-wrapper label {
    position: absolute;
    left: 10px;
    top: 10px;
    color: rgba(0, 0, 0, 0.6);
    font-size: 13px;
}

.shadow-buttons {
    display: flex;
    justify-content: center;
    margin: -5px;
}
.shadow-buttons {
	margin-top:20px;
}
.share-buttons.inprofile  {
	margin-top:20px;
}
.shadow-button {
    padding: 10px 2px;
    font-size: 13px;
    color: #F1F1F1;
    margin: 5px;
    background: rgba(23, 211, 193, 0.55);
    flex: 1;
    border-bottom: 3px solid #fff;
    display: inline-block;
}

.shadow-button .shadow-button-icon {
    color: #F1F1F1;
    vertical-align: middle;
    font-size: 15px;
    margin-right: 10px;
    margin-top: -2;
}

.save-card-button {
    width: 100%;
    margin: -5px;
    margin-top: 10px;
    display: none;
	margin-bottom:10px;
}
#home-section{
	background-image: url(images/bg.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position:center;
	
}

.page-wrapper .upper {
	background-position-y: 168px;
	
}
.section-header {
    color:#333;
    text-align: center;
    text-transform: uppercase;
}
.section-container {
    text-align: left;
    padding: 20px;
    margin-top: 15px;
    line-height: 22px;
    font-size: 14px;
    position: relative;
    box-shadow: 1px 2px 15px #48484833;  
    border: 7px solid #8eea1e;
    background-image: url(images/bg4.jpeg);
    box-shadow: inset 0px 0px 10px rgba(0,0,0,0.5);
    overflow: hidden;
    word-break: break-word;
}
.section-header-seperator {
    text-align: center;
    width:70px;
    background-color: var(--theme-color);
    height:2px;
    margin: 0 auto;
    margin-bottom: 20px;
}



.card {
    text-align: left;
    background-color: var(--theme-color-light);
    padding: 20px;
    max-width: 100%;
    margin: 0 auto;
    margin-bottom: 20px;
    
}

.card img{
	width:100%;
	margin-bottom: 15px;
}

.card .card-title {
    font-size: 15px;
    text-align: left;
    margin: 0;
    padding: 0;
    margin-bottom: 15px;
    font-family: 'Uniform Medium';
}

.about-us-table {
    font-size: 14px;
    margin-top: 15px;
    border-collapse: separate;
    border-spacing: 0 5px;
}

.about-us-table .table-row-label {
    text-align: left;
    min-width: 150px;
    vertical-align: top;
}

.about-us-table .table-row-label .table-row-label-text {
    display: inline-block;
    margin: 0;
    font-family: 'Uniform Medium';
    font-size: 14px;
}

.about-us-table .table-row-label .table-row-label-separator {
    float: right;
}

.speciality-label {
    font-family: 'Uniform Medium';
}

.about-us-text {
    text-align: justify;
    max-width: 95%;
    margin: 0 auto;
}

.document-wrapper {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    border: 2px solid #555555;
    border-radius: 6px;
    margin-bottom: 10px;
    color: #555555;
}

.document-wrapper .pdf-icon {
    padding: 12px;
    padding-right: 5px;
    font-size: 18px;
}

.document-wrapper .pdf-number {
    padding: 10px;
    flex: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.document-wrapper .download-icon {
    font-size: 18px;
    padding: 12px;
    border-left: 2px solid #555555;
    color: #F17D3A;
}

.other-links-wrapper .other-links-header {
    font-family: 'Uniform Medium';
}

.other-links-wrapper .other-links-link {
    display: block;
    line-height: 20px;
    margin-bottom: 10px;
    word-break: break-all;
}

.other-links-wrapper .other-links-link i {
    margin-right: 10px;
}


.product-description {
    text-align: justify;
    max-width: 100%;
}

.product-enquiry-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product-price {
    font-size: 18px;
    font-family: "Uniform Bold";
    color: var(--theme-color);
}

.product-enquiry-btn {
    padding: 7px 15px;
    color: #ffffff;
    font-size: 14px;
    display: inline-block;
    background: linear-gradient(to right, var(--theme-color) 0%, var(--theme-color) 100%);
    border: 3px solid #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}


.product-enquiry-section a:hover{
    color: #fff;
    background:#8eea1e;
	border: 3px solid #8eea1e;
   
}

.brandlogos img{	
	width:150px;
}

.qr-image {
    max-width: 250px;
    width: 100%;
}

.images-container {
    column-count: 3;
    -webkit-column-count: 3;
    column-gap: 0;
    -webkit-column-gap: 0;
}

.images-container .image-wrapper {
    break-inside: avoid;
    -webkit-column-break-inside: avoid;
    padding: 3px;
}

.images-container .image-wrapper img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.images-container .image-wrapper img:hover {
    opacity: 0.7;
}

.feedback-form input[type=text],select,textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 6px;
    resize: vertical;
    outline: none;
    font-size: 14px;
    font-family: 'Uniform', sans-serif;
}

.feedback-form input[type=button] {
    background-color: var(--theme-color);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 6px 0;
    font-family: 'Uniform', sans-serif;
}

.feedback-form input[type=button]:disabled {
    opacity: 0.3;
}

.feedback-form .feedback-phoneNumber {
    flex: 1;
    margin-right: 5px;
}

.feedback-form .feedback-email {
    flex: 1;
    margin-left: 5px;
}

.feedback-list .feedback-wrapper {
}

.feedback-list .feedback-wrapper .feedback-name-wrapper {
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
    font-size: 12px;
}

.feedback-list .feedback-wrapper .feedback-name {
    color: var(--theme-color);
    font-size: 15px;
    font-weight: 500;
}

.feedback-list .feedback-wrapper .gl-star-rating-stars > span {
    width: 18px;
    height: 18px;
    background-size: 18px;
}

#feedback-section hr {
    border-color: rgba(0, 0, 0, 0.12);
    border-width: 0.5px;
}

.feedback-form {
    margin-bottom: 0;
    padding: 15px;
}

.feedback-form .feedback-form-heading {
    font-size: 16px;
    margin-bottom: 10px;
    font-weight: 500;
}

.enquiry-form input[type=text],select,textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 6px;
    resize: vertical;
    outline: none;
    font-size: 14px;
    font-family: 'Uniform', sans-serif;
}

.enquiry-form input[type=submit] {
    background-color: var(--theme-color);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 6px 0;
    font-family: 'Uniform', sans-serif;
}

.enquiry-form input[type=submit]:disabled {
    opacity: 0.3;
}

.enquiry-form .enquiry-phoneNumber {
    flex: 1;
    margin-right: 5px;
}

.enquiry-form .enquiry-email {
    flex: 1;
    margin-left: 5px;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
}

.footer-menu {
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(255, 251, 251, 0.1) inset;
    width: 100%;
    height: auto;
    padding: 0px;
    margin: 0;
    list-style-type: none;
    overflow: auto;
    position: relative;
    background: white;
    display: flex;
	background-image: linear-gradient(to right, white, white), linear-gradient(to right, white, white), linear-gradient(to right, rgba(0, 0, 20, .50), rgba(255, 255, 255, 0)), linear-gradient(to left, rgba(0, 0, 20, .50), rgba(255, 255, 255, 0));
    background-position: left center, right center, left center, right center;
    background-repeat: no-repeat;
    background-color: white;
    background-size: 20px 100%, 20px 100%, 20px 100%, 20px 100%;
    background-attachment: local, local, scroll, scroll;
}

.footer-menu li {
    flex: 1;
    min-width: 80px;
}

.footer-menu .footer-menu-link {
    display: inline-block;
    width: 100%;
    text-align: center;
    padding: 8px;
    box-sizing: border-box;
    color: #555555;
}

.footer-menu .footer-menu-icon {
    font-size: 24px;
    margin-bottom: 10px;
    color: var(--theme-color);
}

.footer-menu .footer-menu-text {
    font-size: 12px;
}

.footer-menu-link i:hover{
	color: #F35F31;
}
.copyright-wrapper {
    color: rgba(0,0,0, 0.8);
    background-color: #ffffff;
    font-size: 14px;
    line-height: 22px;
    margin-top: 15px;
    margin-left: -15px;
    margin-right: -15px;
    margin-bottom: -26px;
}

.copyright-wrapper-inner {
    background-color: var(--theme-color-light);
    padding: 5px;
}

.copyright-wrapper a {
    color:rgba(0,0,0,0.8);
}


.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%;
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.9); 
}


.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}


#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
}


.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

.share-modal {
    padding-top: 0;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.7);
}
.share-form {
    background-color: #F1F1F1;
}

.share-form .share-form-header {
    position: relative;
    padding: 20px 0;
}

.share-form .share-form-header .share-form-header-text {
    padding-top: 12px;
    margin: 0;
}

.share-form .share-form-header .close {
    top: 18px;
    color: #555555;
}

.share-form-buttons-container {
    margin-bottom: 40px;
}

.share-buttons-heading {
    position: relative;
    padding: 0 60px;
}

.share-buttons-heading .share-buttons-arrow {
    position: absolute;
    left: 35px;
    top: 16px;
    width: 30px;
    transform: rotateZ(15deg);
}

.share-buttons-heading .share-buttons-heading-text {
    text-align: left;
    font-family: Shadows Into Light;
    line-height: normal;
    font-weight: 400;
    font-style: normal;
    font-size: 22px;
    color: #D34544;
    margin: 10px 0;
}

.share-buttons {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    padding: 0 60px;
    margin: 0;
}

.share-buttons .share-button {
    padding: 4px;
    list-style: none;
}

.share-buttons .share-button i {
    background-image: none;
    box-sizing: border-box;
    position: relative;
    margin: 0;
    overflow: hidden;
    line-height: 1.1em;
    color: #fff;
    display: block;
    cursor: pointer;
    font-size: 24px;
    height: 40px;
    width: 40px;
    text-shadow: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.share-buttons.inprofile {
    padding: 0;
    justify-content: flex-end;
    margin: -4px;
}

.share-buttons.inprofile .share-button {
    padding: 3px;
}

.share-buttons.inprofile .share-button i {
    padding: 0;
    height: 30px;
    width: 30px;
    font-size: 15px;
    border-radius: 50%;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 1), 0 0 40px rgba(255, 251, 251, 0.1) inset;
}

.share-button-whatsapp {
    background-color: #29a71a;
}

.share-button-sms {
    background-color: #1598d5;
}

.share-button-facebook {
    background-color: #3b5998;
}

.share-button-twitter {
    background-color: #2ba9e1;
}

.share-button-skype {
    background-color: #00aff0;
}

.share-button-pinterest {
    background-color: #cb2027;
}

.share-button-linkedin {
    background-color: #007bb6;
}

.share-button-instagram {
    background-color: #F18644;
}

.share-button-youtube {
    background-color: #E63631;
}

.share-button-mail {
    background-color: #939598;
}

.fadeInUpBig {
    -webkit-animation-name: fadeInUpBig;
    animation-name: fadeInUpBig;
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
@-webkit-keyframes fadeInUpBig {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 2000px, 0);
        transform: translate3d(0, 2000px, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}
@keyframes fadeInUpBig {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 2000px, 0);
        transform: translate3d(0, 2000px, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}


.fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
@-webkit-keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}
@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}


@media only screen and (max-width: 450px){
    .modal-content {
        width: 100%;
    }

    .share-modal {
        align-items: flex-end;
    }
	.whatsapp-input input {
    -webkit-appearance: none;
    width: 64%;
   
}


.p-30 {
    padding-top: 30px;
}

.p-20 {
    padding-top: 20px;
}
.orderedList {
    list-style: decimal;
    padding-left: 16px;
}

.unorderedList {
    list-style: disc;
    padding-left: 16px;
}

.flex {
    display: flex;
}


.pdf {
    padding-bottom: 0;
}

label.error{
    color: #ee2e24;
    
}

.text-center {
    text-align: center;
}

label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
}
#msg .notify{
    color:green;
    font-size:16px;
}



/*--------------------------------------


----------------------------------------*/
.tz-gallery {
    padding: 5px;
}

/* Override bootstrap column paddings */
.tz-gallery .row > div {
    padding: 2px;
}

.tz-gallery .lightbox img {
    width: 100%;
    border-radius: 0;
    position: relative;
}

.tz-gallery .lightbox:before {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -13px;
    margin-left: -13px;
    opacity: 0;
    color: #fff;
    font-size: 26px;
    font-family: 'Glyphicons Halflings';
    content: '\e003';
    pointer-events: none;
    z-index: 9000;
    transition: 0.4s;
}


.tz-gallery .lightbox:after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    background-color: rgba(46, 132, 206, 0.7);
    content: '';
    transition: 0.4s;
}

.tz-gallery .lightbox:hover:after,
.tz-gallery .lightbox:hover:before {
    opacity: 1;
}

.baguetteBox-button {
    background-color: transparent !important;
}
label.error{
    color: #ee2e24;
  
}

